{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header fixed w-full p-3 top-0 bg-white" >
			{% block header %}
				<div class="wrapper flex items-center justify-between">
					<h1 class="hdr-logo text-6xl font-Square text-black tracking-tighter" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home"><img src="https://jano.local/wp-content/uploads/2024/07/logo.png" class="w-40" /></a>
					</h1>
					<nav id="nav-main" class="nav-main text-white inline-block" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper mt-16 top">
			{% block content %}
			{% endblock %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}


	</body>
</html>
