<img
        src="{{ post.thumbnail.src('medium') }}"
        alt="{{ post.thumbnail.alt }}"
        width="{{ post.thumbnail.width }}"
        height="{{ post.thumbnail.height }}"
        loading="lazy"
>

<h2>
    <a
            href="{{ post.link }}"
            aria-describedby="desc-{{ post.slug }}"
    >{{ post.title }}</a>
</h2>

<p>{{ post.excerpt }}</p>

<span
        id="desc-{{ post.slug }}"
        aria-hidden="true"
>Read more</span>

<small>By {{ post.author }}</small>