<img
        src="{{ post.thumbnail.src('medium') }}"
        alt="{{ post.thumbnail.alt }}"
        width="{{ post.thumbnail.width }}"
        height="{{ post.thumbnail.height }}"
        loading="lazy"
>
<div class="bg-gray-200 p-10 mb-10">
<h6 class="text-3xl">
    <a
            href="{{ post.link }}"
            aria-describedby="desc-{{ post.slug }}"
    >{{ post.title }}</a>
</h6>
    {{ medewerkers.functie}}
<p>{{ post.excerpt({ words: 10, read_more: 'Lees dan' }) }}</p>

</div>